@import url('https://fonts.googleapis.com/css?family=Caveat|News+Cycle|Permanent+Marker&display=swap');

*{
  background-color: rgb(248, 210, 216);
}
h1,h2{
  font-family: 'Permanent Marker';

}

p{
  font-family: cursive;
}

