
 #photo-template {
  display: none;
}
#btn12{
  width: 400px;
  margin: 0  auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgb(197, 245, 246);
}
#btn1{
  padding: 20px;
  width: 150px;
  border-radius: 15px;
  background-color: rgb(130, 163, 255); 
  font-size: 20px;
}
#btn2{
 
  padding: 20px;
  width: 150px;
  border-radius: 15px; 
  background-color:  rgb(130, 163, 255); 
  font-size: 20px;
}


#photoCon{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 

}

img {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 20px; 
}


h2{
  font-size:30px;
  color: rgb(255, 255, 255);
  text-shadow:2px 2px grey;
  text-align: center;

}

p{
  font-size:20px;
  text-align: center;
}



h1{
  margin: 40px auto;
  /* height: 50px; */
  text-align: center;
  font-size: 30px;
}
select{
  background-color: rgb(116, 153, 253);
font-size: 20px;
text-align: center;}

